.projectBox_container {
	flex-direction: column;
	align-items: center;
	width: 75%;
	margin: 0px auto;
	margin-top: 85px;
}

.projectBox_img {
	width: 100%;
	max-width: 350px;
	max-height: 350px;
	object-fit: contain;
}

.projectBox_content {
	flex-direction: column;
	justify-content: center;
	margin-top: 25px;
}

.projectBox_title {
	font-size: 2rem;
	line-height: 2.2rem;
	margin-bottom: 10px;
	color: #2B7DB5;
}

.projectBox_desc {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.25rem;
	font-size: 1rem;
	letter-spacing: 0.03rem;
}

.projectBox_name {
	font-weight: 600;
	font-size: 0.8rem;
}

.projectBox_header {
	color: #2B7DB5;
	margin-top: 10px;
	font-size: 1.8rem;
	font-weight: 500;
}

@media (min-width: 1000px) {
	.projectBox_img {
		width: 350px;
		height: 350px;
	}
	.projectBox_container {
		margin-top: 70px;
		flex-direction: row;
	}
	.projectBox_content {
		margin-left: 30px;
	}
}